*/node_modules
node_modules
*/*.hi
*/*.o
*/dist-newstyle

# Matches the executables which haskell outputs, which are just
# ./day04, for example, with no extension, so this matches
# any file of that form
*/day[0-2][0-9] 